<!DOCTYPE html>
<html>
<head>
  <title>NoCms::Admin::News</title>
  <%= stylesheet_link_tag    "no_cms/admin/news/application", media: "all" %>
  <%= javascript_include_tag "no_cms/admin/news/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
